@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  background: #000;
}

.background-blur {
  background: url(/img/background_nf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
  filter: blur(50px);
}

a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.container header {
  padding: 15px;
}

header {
  position: absolute;
  top: 0;
}

.logo {
  float: left;
  left: 0;
}

nav {
  position: relative;
  float: right;
  right: -800px;
}

nav ul li {
  display: inline-block;
  padding-right: 15px;
}
