@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  // background: #000;
  background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   45deg,
  //   rgba(150, 0, 226, 1) 5%,
  //   rgba(0, 55, 184, 1) 52%,
  //   rgba(0, 5, 81, 1) 83%
  // );
}

.background-blur {
  background: url(/img/background_nf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
  filter: blur(50px);
}

a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

header .container {
  padding: 15px;
}

header {
  position: absolute;
  top: 0;
}

.logo {
  float: left;
  left: 0;
  padding-left: 15px;
}

nav {
  position: relative;
  float: right;
  right: -800px;
}

nav ul li {
  display: inline-block;
  padding-right: 15px;
}

.floating-img {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  opacity: 0.4;
  width: 300px;
  height: 300px;
}

.nf-main-img {
  border-radius: 50;
}
